*{
	margin: 0;
	padding: 0;
	border: 0;
}
div{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #FAFAFA;
	padding-top: 70px;
}
#rodape{
	height: 100%; 
	margin-top: 20px;
	background: #0B2161;
	color: white;
}
.menu-links-posicao{	
	/*border: 1px solid green;*/
	margin-left: 5px;
	margin-right: 5px;
}
.menu-links-botoes{	
	width: all;
}
.borda-espaco{
	border: 1px dashed white;
	padding-top: 10px; 
	padding-bottom: 10px;
}
.barra-de-progresso-skills{
	margin: 10px 0px 0px 0px;
}
.body-certificado{
	width: 100%; 
	margin: 0px; 
	padding: 0px 4px 0px 4px;
}
.body-experiencia{
	width: 100%; 
	margin: 0px; 
	padding: 10px;
	text-align: justify;
}
.tamanho-logo-academico{
	height: 95%; 
	width: 95%;
}
.img-diploma{
	float: right; 
	height: 27%; 
	width: 27%;
}
.img-modal-certificado{
	height: 100%; 
	width: 100%
}
.modal-cabecalho{
	padding: 10px;
}
.certificado-cabecalho{
	padding-left: 0px;
}

.conteudo-profissional{
	padding-left: 20px;
	position: absolute;
	background-color: #FAFAFA;
}
/* -----------------------------------------
/* Esta Parte de Codigo se tornou desnecessário
/* Pois foi possivel substituir por visible-xs e hidden.xs
/* -----------------------------------------
@media only screen and (min-width: 768px) {
	.mobile-hide{ 
		display: none !important; 
	}
}
@media only screen and (max-width: 769px) {
	.mobile-show{ 
		display: inline !important; 
	}
}
@media only screen and (max-width: 768px) {
	.desktop-hide{ 
		display: none !important; 
	}
}
@media only screen and (min-width: 769px) {
	.desktop-show{ 
		display: inline !important; 
	}
}
---------------------------------------- */
@media only screen and (max-width: 401px){
	.photo-mobile-hide{
		display: none !important; 
	}
}
@media only screen and (max-width: 400px){
	.botao-mobile-show{
		display: inline !important; 
	}
}
@media only screen and (min-width: 401px){
	.botao-mobile-hide{
		display: none !important; 
	}
}
@media only screen and (min-width: 400px){
	.photo-mobile-show{
		display: inline !important; 
	}
}
@media only screen and (min-width: 768px){
	.altura183px{
		height: 183px;
	}
}
@media only screen and (min-width: 992px){
	.altura225px{
		height: 225px;
	}
}
@media only screen and (min-width: 1200px){
	.altura277px{
		height: 277px;
	}
}
@media only screen and (max-width: 768px){
	.mobile-cabecalho{
		padding-top: 20px;
		padding-left: 15px;
	}
}
@media only screen and (min-width: 768px){
	.desktop-cabecalho{
		padding-top: 20px;
		padding-left: 0px;
	}
}
@media only screen and (min-width: 768px){
	.desktop-conteudo{
		padding: 10px 0px 0px 0px;
	}
}
@media only screen and (max-width: 768px){
	.mobile-conteudo{
		padding: 15px;
	}
}
@media only screen and (max-width: 768px){
	.mobile-body-certificado{
		padding-left: 13px;
	}
}
@media only screen and (max-width: 768px){
	.mobile-experiencia-cabecalho{
	padding-left: 10px;
}
	}
}

@media only screen and (max-width: 768px){
	.linha-formacao{
		width: 100%
	}
}
