*{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
div{
	border: 0px dashed red;
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #FAFAFA;
	
}
#rodape{
	height: 100%; 
	margin-top: 20px;
	background: #708090;
	color: white;
	padding: 10px;
}
#iframe{
    position: fixed;
    top: 10px; 
    left: 10px; 
}
#barra-navegacao{
 	padding-right: 20px;
}
#conteudo{
	height: auto;
	text-align: center;
	padding: 30px;
}
hr{
 	margin-left: 0px;

}
.row{
	margin-bottom: 20px;
 }
.dropdown-menu{
 	width: 100%;
}
.titulo-cabecalho{
	border-bottom: 1px solid #C0C0C0;
	text-shadow: 1px 1px 20px #B0C4DE;
	padding: 0px 0px 5px 0px;
	margin-bottom: 15px;
}
.tamanho-logo-academico{
	margin-top: 5px;
	height: 87%; 
	width: 87%;
}
.img-diploma{
	float: right; 
	height: 26%; 
	width: 26%;
}
.img-modal-certificado{
	height: 100%; 
	width: 100%
}
.modal-cabecalho{
	padding: 10px;
}
.titulo-cabecalho span{
	font-size: 20px;
}
.panel{
	width: 100%; 
	margin: 0px; 
	padding: 5px;
	text-align: justify;
}
.panel-title{
	padding: 2px;
	background: #F0F8FF;
	border-radius: 3px;
}
.sombra-hover:hover{
	box-shadow: 1px 1px 30px #5882FA;
}
.botao-rede-social{
	margin-left: 8px;
	width: 77%;
	padding: 4px;
}
.conteudo-profissional{
	padding-left: 20px;
	position: absolute;
	background-color: #FAFAFA;
}
.navbar a{
	font-weight: bold;
}
.navbar a:hover{
	color: #FFA500;
}
.foto{
	box-shadow: 1px 1px 5px #C0C0C0;
	border-radius: 10px;
	width: 90%;
	margin-left: 15px;
}
.tamanho-video{
	width: 100%;
}

.progress{
	box-shadow: 1px 1px 5px #4169E1;
	margin: 0px 0px 10px 0px;
	height: 22px;
}
.progress-bar{
	box-shadow: 1px 1px 10px #7B68EE;
	border-radius: 0px 3px 3px 0px;
	width: 100%;
	height: 2em;
	animation: animacao-box 4s 0s;
}
@keyframes animacao-box {
	from{
		width: 0px;
	}
	to{
		width: 100%;
	}
}
/* -----------------------------------------
/* Esta Parte de Codigo se tornou desnecessário
/* Pois foi possivel substituir por visible-xs e hidden.xs
/* -----------------------------------------
@media only screen and (min-width: 768px) {
	.mobile-hide{ 
		display: none !important; 
	}
}
@media only screen and (max-width: 769px) {
	.mobile-show{ 
		display: inline !important; 
	}
}
@media only screen and (max-width: 768px) {
	.desktop-hide{ 
		display: none !important; 
	}
}
@media only screen and (min-width: 769px) {
	.desktop-show{ 
		display: inline !important; 
	}
}
---------------------------------------- */

@media only screen and (min-width: 400px){
	.botao-mobile-hide{
		display: none !important; 
	}
	.photo-mobile-show{
		display: inline !important; 
	}
}
@media only screen and (min-width: 520px){
	.botao-rede-social{
		padding: 25px;
	}
}
@media only screen and (min-width: 768px){
	.grid-academico{
		padding: 0px 0px 0px 15px;
	}
	.espaco-lateral-left{
		padding: 0px 30px 0px 0px;
	}
	.displayNONE{
		display: none;
	}
	.copyright{
		text-align: left;
	}
	.botao-rede-social{
		padding: 5px;
	}
	.tamanho-icon{
		font-size: 50px;
	}
}
@media only screen and (min-width: 992px){
	.displayBLOCK{
		display: block;
	}
	.tamanho-icon{
		font-size: 75px;
	}
}
@media only screen and (max-width: 400px){
	.photo-mobile-hide{
		display: none !important; 
	}
	.botao-mobile-show{
		display: inline !important; 
		margin-top: 7px;
	}
	.botao-rede-social{
		padding: 5px;
	}
}
@media only screen and (max-width: 768px){
	.pb-informacoes{
		height: 150%;
		color: white;
	}
	.titulo-cabecalho{
		padding-left: 15px;
	}
	.mobile-conteudo{
		padding: 15px;
	}
	.mobile-body-certificado{
		padding-left: 13px;
	}
	.panel-title{
		padding-left: 10px;
	}
	.linha-formacao{
		width: 100%
	}
	.copyright{
		text-align: center;
	}
	.tamanho-icon{
		font-size: 40px;
	}
	.foto{
		width: 50%;
		margin-left: 25%;
	}
}
